body {
  background-color: #1b1b1c;
  border-left: 3px solid #e3e3e8;
  border-right: 3px solid #e3e3e8;
  margin: 5% 10% 0 10%;
}
header {
  text-align: center;
  color: #e3e3e8;
  padding: 20px;
}

.hostPics {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
img.sheepHeader {
  width: 40%;
}

img.CSUheader {
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 98%;
  border: 7px solid #e3e3e8;
}
img.colotPic {
  transform: rotateX(-7deg);
  width: 37%;
}
