body {
  background-color: #1b1b1c;
  border-left: 3px solid #e3e3e8;
  border-right: 3px solid #e3e3e8;
  margin: 5% 10% 0 10%;
  font-family: "Poppins" "RobotoSlab";
}
div {
  box-shadow: 0px 4px 10px #888888;
}

header {
  text-align: center;
  color: #e3e3e8;
  padding: 20px;
}
h1 {
  text-align: center;
  font-family: "Poppins", serif;
}
h2 {
  color: white;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact div {
}

.mailchimpInput h2 {
  color: black;
  text-align: center;
}

/*.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 95px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  font-family: "Josefin Slab", serif;
}

.dropdown-content a {
  color: #837095;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #837095;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}*/

.navBar {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 95px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  font-family: "Josefin Slab", serif;
}

.HornColtHeader:hover ul {
  background-color: blue;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.hostPics {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
img.sheepHeader {
  width: 40em;
}
img.sheepheader hover: {
  transform: rotate(180deg);
}
/*Here rotate the sheep picture to reveal a newsletter form*/

img.CSUheader {
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 98%;
  border: 7px solid #e3e3e8;
}
img.colotPic {
  transform: rotateX(-7deg);
  width: 4em%;
}
table {
  display: flex;
  justify-content: center;
  align-items: center;
}
#CSU img {
  height: 21em;
  align-content: center;
}

#CSU {
  border-top: 2px solid white;
  padding: 2em 1em;
  margin: 1em 2.6em;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

#CSU img:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#shows {
  border: 0px;
}

#contact {
  border-top: 2px solid white;
  padding: 2em 1em;
  margin: 1em 2.6em;
}
.mailchimpInput {
  max-width: 700px;
  align-content: center;
  padding: 1em;
  flex: 7 85%;
}
.mailchimpInput div {
  padding: 1em;
}
.bookingInfo {
  font-size: 1.1em;
  font-family: "Roboto Slab", serif;
  padding: 7em 2em;
  text-align: center;
  color: #e5efff;
}
.bookingInfo p {
  font-family: "Poppins", sans-serif;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Poppins, Arial, sans-serif;
}
