body {
  background-color: #1b1b1c;
  border-left: 3px solid #e3e3e8;
  border-right: 3px solid #e3e3e8;
  margin: 5% 10% 0 10%;
}

header {
  text-align: center;
  color: #e3e3e8;
  padding: 20px;
}
h1 {
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
/*.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 95px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  font-family: "Josefin Slab", serif;
}

.dropdown-content a {
  color: #837095;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #837095;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}*/

.navBar {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 95px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  font-family: "Josefin Slab", serif;
}

.HornColtHeader:hover ul {
  background-color: blue;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.hostPics {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
img.sheepHeader {
  width: 40em;
}
img.sheepheader hover: {
  transform: rotate(180deg);
}
/*Here rotate the sheep picture to reveal a newsletter form*/

img.CSUheader {
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 98%;
  border: 7px solid #e3e3e8;
}
img.colotPic {
  transform: rotateX(-7deg);
  width: 4em%;
}
table {
  display: flex;
  justify-content: center;
  align-items: center;
}
#CSU img {
  height: 25em;
  align-content: center;
}
#CSU {
  border-top: 2px solid white;
  padding: 2em 1em;
  margin: 1em 2.6em;
}

#shows {
  border: 0px;
}

#contact {
  border-top: 2px solid white;
  padding: 2em 1em;
  margin: 1em 2.6em;
}
